<div class="m-entitygeometry-container">
    <div id="m-button-entitypolygon-vertical" class="m-control button">
        <!--<button id="m-addtosandbox-button" class="g-cartografia-capas" title="Añadir geometrías a la capa de trabajo"></button> -->
        <button id="m-addgeometry-button" class="icon-edition-import-button" title="{{translations.import_btn}}"></button>
        <div id="m-selectmenu-button" class="dropdown-edition">
            <button id="m-select-button" class="g-cartografia-flecha" title="{{translations.select_btn}}"></button>
            <div id="myDropdown" class="dropdown-edition-content">
                <div><button id="m-selectclick-button" class="icon-edition-select-click" title="{{translations.select_click}}"></button></div>
                <div><button id="m-selectline-button" class="icon-edition-select-line" title="{{translations.select_line}}"></button></div>
                <div><button id="m-selectarea-button" class="icon-edition-select-area" title="{{translations.select_area}}"></button></div>
                <div><button id="m-selectall-button" class="icon-edition-select-all" title="{{translations.select_all}}"></button></div>
                <div><button id="m-deselectall-button" class="icon-edition-deselect-all" title="{{translations.deselect_all}}"></button></div>
            </div>
        </div>
        <div id="m-zoommenu-button" class="dropdown-edition">
            <button id="m-zoom-button" class="g-cartografia-zoom" title="{{translations.zoom}}"></button>
            <div id="myDropdown-edition" class="dropdown-edition-content">
                <div><button id="m-zoomsandbox-button" class="icon-edition-zoom-sandbox" title="{{translations.zoom_sandbox}}"></button></div>
                <div><button id="m-zoomselect-button" class="icon-edition-zoom-selection" title="{{translations.zoom_selection}}"></button></div>
            </div>
        </div>
        <button id="m-draw-button" class="g-cartografia-editar" title="{{translations.geometry_draw}}"></button>
        <button id="m-snapping-button" class="icon-edition-snapping" title="{{translations.snapping}}"></button>
        <button id="m-modify-button" class="icon-edition-modify-polygon" title="{{translations.modify_polygon}}"></button>
        <button id="m-splitpolygon-button" class="g-cartografia-linea" title="{{translations.geometry_divide}}"></button>
        <button id="m-unir-button" class="icon-edition-union" title="{{translations.union}}"></button>
        <button id="m-vaciado-button" class="icon-edition-empty-polygon" title="{{translations.empty_polygon}}"></button>
        <button id="m-intersect-button" class="icon-edition-intersection" title="{{translations.intersection}}"></button>
        <button id="m-removefromsandbox-button" class="icon-edition-delete-selected" title="{{translations.delete_selected}}"></button>
    </div>
</div>